# Set the following variables to deploy contracts or execute scripts

# Set address that funds the tx
DEPLOYER_PRIVATE_KEY=""
# Optimistic Etherscan API code to verify contracts
OPTIMISTIC_ETHERSCAN_API_KEY=""

# To run the gateway; provide the following variables
# A instance of the L2 Resolver contract
L2_RESOLVER_ADDRESS="0xc1C2b9dD2D15045D52640e120a2d1F16dA3bBb48"
# L1 provider url
L1_PROVIDER_URL=""
# L2 provider url
L2_PROVIDER_URL = ""
